* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #260D40;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 900;
  color: #F2D022;
  text-align: center;
  margin: 50px 20px 10px 20px;
}

h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  color: #F2D022;
  text-align: center;
  margin: 10px 20px 10px 20px;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #9049bf;
}

.txtDest {
  color: #9049bf;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.tipo {
  max-width: 90%;
  max-height: 250px;
}

.icono {
  height: 100px;
  animation: swing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin-top: 10px;
}

.footerHome {
  overflow-x: hidden;
  background-color: #F2D022;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin-top: auto;
}

.rotating-text {
  white-space: nowrap;
  display: inline-block;
  animation: moveText 10s linear infinite alternate;
  width: 150%; /* Doble del ancho para cubrir toda la pantalla */
}

@keyframes moveText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.botonPagar {
  display: block;
  margin: 1.5% auto;
  background-color: #F2D022;
  width: fit-content;
  padding: 20px;
  border-radius: 35px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

a {
  text-decoration: none;
  color: #260D40;
}

body {
  overflow-x: hidden;
}

.mitad {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: calc(100dvh - 50px - 16px);
  width: 100dvw;
}

.fijo {
  background-color: #260D40;
  height: 100%;
}
.fijo .logo {
  display: flex;
  margin: 150px;
}

.variable {
  background-color: #9049BF;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.variable h1 {
  margin-top: 150px;
}
.variable h2 {
  padding: 20px 150px 0px 150px;
}
.variable p {
  font-size: 1.3rem;
  font-weight: 400;
  color: #260D40;
  text-align: center;
  padding: 20px 150px 0px 150px;
}
.variable .botonPago {
  background-color: #F2D022;
  width: fit-content;
  padding: 20px;
  border-radius: 35px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 10px;
}
.variable a {
  text-decoration: none;
  color: #9049BF;
}

.footerPay {
  background-color: #F2D022;
  text-align: center;
  width: 100dvw;
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
  margin-top: auto;
  height: 50px;
  position: relative;
  bottom: 0;
}

.gangrena {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

@media (max-width: 1024px) {
  body {
    max-width: 100dvw;
  }
  .logo {
    margin-top: 5%;
    margin: auto;
  }
  .tipo {
    height: 130px;
    margin-top: 0px;
    margin-bottom: 7%;
  }
  .botonPagar {
    font-size: 0.9rem;
    width: 80dvw;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  .mitad {
    display: block;
    width: 100%;
  }
  .mitad .fijo {
    height: 300px;
    width: 100%;
  }
  .mitad .fijo .logo {
    margin: 30px;
  }
  .mitad .variable h1 {
    margin-top: 35px;
  }
  .mitad .variable h2 {
    padding: 10px;
  }
  .mitad .variable p {
    padding: 15px;
  }
}

/*# sourceMappingURL=estilo.css.map */
