body {
    overflow-x: hidden;

} 

.mitad {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: calc(100dvh - 50px - 16px);
    width: 100dvw;
}

.fijo {
    background-color: #260D40;
    height: 100%;

    .logo {
        display: flex;
        margin: 150px;
    }
}

.variable {
    background-color: #9049BF; 
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
        margin-top: 150px;
    }

    h2 {
        padding: 20px 150px 0px 150px;
    }

    p {
        font-size: 1.3rem;
        font-weight: 400;
        color: #260D40;
        text-align: center;
        padding: 20px 150px 0px 150px;
    }

    .botonPago {
        background-color: #F2D022;
        width: fit-content;
        padding: 20px;
        border-radius: 35px;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        margin: auto;
        margin-top: 45px;
        margin-bottom: 10px;

    }

    a {
        text-decoration: none;
        color: #9049BF;
    }
}

.footerPay {
    background-color: #F2D022;
    text-align: center;
    width: 100dvw;
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
    margin-top: auto;
    height: 50px;
    position: relative;
    bottom: 0; 
}

.gangrena {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}