@media (max-width: 1024px) {
    body {
        max-width: 100dvw;
    }

    .logo {
        margin-top: 5%;
        margin: auto;
    }
    .tipo {
        height: 130px;
        margin-top: 0px;
        margin-bottom: 7%;
    }

    .botonPagar {
        font-size: 0.9rem;
        width: 80dvw;
        margin: 0 auto;
        margin-bottom: 3%;
    
    }

    .mitad {
        display: block;
        width: 100%;

        .fijo {
            height: 300px;
            width: 100%;

            .logo {
                margin: 30px;
            }
        }

        .variable {
            h1 {
                margin-top: 35px;
            }

            h2 {
                padding: 10px;
            }

            p {
                padding: 15px;
            }
        }
     }
    }
